@using DongHo.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>GioHang</h2>
<br /><br />
@RenderPage("~/Views/GioHang/GiohangPartial.cshtml")
<h2 style="text-align:center">THÔNG TIN GIỎ HÀNG</h2>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold">
        <td>  Mã sách </td>
        <td> Tên sách </td>
        <td> Ảnh bìa </td>
        <td> Số lượng </td>
        <td> Đơn giá </td>
        <td> Thành tiền </td>
        <td width="50px"></td>
        <td width="50px"></td>
        <td width="50px"></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td> @item.MaDongHO </td>
            <td> @item.TenDH</td>
            <td><img src="~/DONGHO/@item.Hinh"></td>
            @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @iMaSp = item.MaDongHO }))
            {
                <td>
                    <input type="number" min="1" name="txtSoluong" value="@item.SoLuong" style="background-color:yellow" />
                </td>
                <td>@String.Format("{0:0,0}", item.DonGia) </td>
                <td>@String.Format("{0:0,0}", item.dThanhtien) </td>
                <td> <a href="@Url.Action("Details", "Home", new { id = item.MaDongHO})"> Chi tiết </a></td>
                <td> @Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.MaDongHO })</td>
                <td> <input type="submit" value="Cập Nhật" /></td>
            }
        </tr>
    }
    <tr style="font-weight: bold; text-align:right; color:red">
        <td colspan="4"> Số lượng sách: @ViewBag.Tongsoluong </td>
        <td colspan="5"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ </td>
    </tr>
    <tr style="font-weight: bold; color:blue; text-align:right ">
        <td colspan="9">
            @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatcaGiohang")
        </td>
    </tr>
    <tr style="font-weight: bold; color:blue; text-align:right ">
        <td colspan="9" align="center">
            @Html.ActionLink("ĐẶT HÀNG", "Dathang", "GioHang")
        </td>
    </tr>
</table>

