@using DongHo.Models;
@{
    ViewBag.Title = "DetailsDDH";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<!DOCTYPE html>
<html>
@*<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <style>
        .tab .nav-tabs {
            border-bottom: 0 none;
        }

            .tab .nav-tabs li a {
                position: relative;
                padding: 15px;
                color: #804000;
                font-size: 17px;
                z-index: 1;
            }

                .tab .nav-tabs li a:hover {
                    background: transparent;
                    border: 1px solid transparent;
                }

                .tab .nav-tabs li a:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 8px;
                    left: -2px;
                    background: #FFB871;
                    border: 1px solid #d3d3d3;
                    border-bottom: 0px none;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 25px;
                    border-top-left-radius: 25px;
                    transform-origin: left center 0;
                    transform: perspective(6px) rotateX(3deg);
                    z-index: -30;
                }

            .tab .nav-tabs li {
                margin-right: 15px;
            }

                .tab .nav-tabs li.active a:before {
                    background: #804000;
                }

                .tab .nav-tabs li.active a,
                .tab .nav-tabs li.active a:focus,
                .tab .nav-tabs li.active a:hover {
                    border: 1px solid transparent;
                    background: transparent;
                    color: #fff;
                    font-weight: 300;
                    z-index: 2;
                }

        .tab-content .tab-pane {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border: 1px solid #804000;
            padding: 20px;
            background: #FFF0E1;
            line-height: 22px;
        }

            .tab-content .tab-pane h4 {
                margin-top: 0;
                font-weight: 700;
                font-size: 20px;
            }
    </style>

</head>*@

<body>
    <link href="~/Content/home/Danhmuc.css" rel="stylesheet" />
    <link href="~/Content/home/style.css" rel="stylesheet" />
    <div class="container">
        <h2 style="color:#4e6cb6">CHI TIẾT THÔNG TIN ĐẶT HÀNG</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#ctKhachHang" aria-controls="home" role="tab" data-toggle="tab">Thông Tin Khách Hàng</a></li>
                        <li role="presentation"><a href="#ctDatHang" aria-controls="profile" role="tab" data-toggle="tab">Thông Tin Sản Phẩm</a></li>
                    </ul>
                    <!-- Tab panes content goes here-->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade-in active" id="ctKhachHang">
                            <table id="" class="table table-bordered table-striped">
                                <tbody>
                                    <tr><td width="150" class="title">Họ tên</td><td>@Model.Tenkh</td></tr>
                                    <tr><td width="150" class="title">Số Điện Thoại</td><td>@Model.SDT1</td></tr>
                                    <tr><td width="150" class="title">Địa Chỉ</td><td>@Model.DiaChi1</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="ctDatHang">
                            <div class="table">
                                <table class="listing" cellpadding="0" cellspacing="0">
                                    <tr style="text-align:center; font-weight:bold">

                                        <td>
                                            Hình Ảnh Sản Phẩm
                                        </td>
                                        <td>Tên Sản Phẩm</td>
                                        <td>Giá </td>
                                        <td>Số Lượng </td>
                                        <td>Tổng Giá </td>
                                    </tr>
                                    @foreach (var item in Model.Dsdongho1)
                                    {
                                        <tr style="text-align:center">
                                            <th><img class="hinhsanpham" src="~/DONGHO/@item.Hinhsq" /></th>
                                            <th>@item.Tensp</th>
                                            <th>@item.Giasq</th>
                                            <th>@item.Soluongsp</th>
                                            <th>@item.Tonggiasp</th>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@using (Html.BeginForm("updateĐH", "QuanLy", new { @id = Model.MaDDH1 }))
{
    <td> <input type="submit" class="thanhtoan" value="Hoan Tat Thanh Toan" /></td>
}
<style>
    .thanhtoan{
        margin-top:10px;
        margin-left:30%;
    }
</style>
<style>
    .bt {
        padding-top: 15px;
        margin: auto;
    }

    div.table {
        float: left;
        position: relative;
        width: 100%;
        margin-top: 18px;
    }

    table.listing {
        border-bottom: 1px solid #222d32;
        width: 100%;
        padding: 0;
        margin: auto;
        border: 1px solid #222d32;
    }

        table.listing th {
            border-top: 0 !important;
            margin: auto;
        }

            table.listing th.full {
                border-left: 0;
                border-right: 0 !important;
                text-align: left;
            }

    div.table img.left {
        position: absolute;
        top: 0;
        left: 0;
    }

    div.table img.right {
        position: absolute;
        top: 0;
        right: 1px;
    }
    /* table styles */
    table.listing td,
    table.listing th {
        margin: auto;
        border: 1px solid #201b3c;
        text-align: center;
    }

    table.listing th {
        margin: auto;
        background: #fff;
        color: #000;
        padding: 5px;
    }

    table.listing td {
        background: #222d32;
        color: #fff;
        padding: 3px 5px;
    }

    table.listing .bg td {
        background: #ff00dc;
    }

    table.listing .white td {
        background: #000;
    }

    table.listing .first {
        border-left: 0px solid #ff00dc;
        text-align: left;
    }

    table.listing .last {
        border-right: 0px solid #ff00dc;
    }

    table.listing th.first {
        background: #ff00dc url(../img/bg-th-left.gif) no-repeat left top;
        border-left: 0;
    }

    table.listing th.last {
        background: #ff00dc url(../img/bg-th-right.gif) no-repeat right top;
        border-right: 0;
    }

    table.listing .style1 {
        font-weight: bold;
        color: #FF7A00;
    }

    table.listing .style2 {
        font-weight: bold;
        padding-left: 16px;
    }

    table.listing .style3 {
        padding-left: 25px;
    }

    table.listing .style4 {
        padding-left: 35px;
    }

    table.form .last {
        padding: 1px 0 1px 5px;
        text-align: left;
    }

    table.form th,
    table.form td {
        padding-left: 10px;
    }

    table.form input.text {
        width: 262px;
    }
</style>



