@model DongHo.Models.DONGHO
@{
    ViewBag.Title = "XOA";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}


<h3> Bạn quyết định xóa quyển sách này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Đồng Hồ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenDongHo)
        </dd>
        <dt>
            Giá bán:
        </dt>
        <dd>
            @String.Format("{0:0,0}", Model.DonGia) VNĐ
        </dd>
        <dt>
            Số Lượng Tồn:
        </dt>
        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            Ảnh bìa:
        </dt>
        <dd>
            <img src="@Url.Content("~/DONGHO/"+  Model.hinh)" width="120px" />
        </dd>
        <dt>
            Mã NCC:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TenNSX)
        </dd>
        <dt>
            Mã Loại:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LOAISP.TenLoai)
        </dd>
    </dl>
</div>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ", "QLSANPHAM")
        </div>
    }
</div>

