@using DongHo.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
}
<br />
<h2 style="text-align:center ;color:#bd6132">THÔNG TIN GIỎ HÀNG</h2>
<div class="gio_hang col-xs-12 col-sm-12 col-md-12">
    <table class="col-xs-12 col-sm-12 col-md-12" align="center" border="1">
        <tr  style="text-align:center; font-weight:bold;color:#074209">
            <td class="col-xs-1 col-sm-1 col-md-1" >  Mã Đồng Hồ </td>
            <td class="col-xs-1 col-sm-1 col-md-1" > Tên Đồng Hồ </td>
            <td class="col-xs-1 col-sm-2 col-md-2" > Hình Ảnh </td>
            <td class="col-xs-1 col-sm-1 col-md-1" > Số lượng </td>
            <td class="col-xs-2 col-sm-2 col-md-2" > Đơn giá </td>
            <td class="col-xs-2 col-sm-2 col-md-2" > Thành tiền </td>
            <td class="col-xs-1 col-sm-1 col-md-1"></td>
            <td class="col-xs-1 col-sm-1 col-md-1"></td>
            <td class="col-xs-1 col-sm-1 col-md-1"></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="" style="text-align:center; font-weight:bold">
                <td class="col-xs-1 col-sm-1 col-md-1"> @item.MaDongHO </td>
                <td class="col-xs-1 col-sm-2 col-md-1"> @item.TenDH</td>
                <td class="col-xs-1 col-sm-2 col-md-2"><img src="~/DONGHO/@item.Hinh"></td>
                @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @iMaSp = item.MaDongHO }))
                {
                    <td class="col-xs-1 col-sm-1 col-md-1">
                        <input type="number" min="1" name="txtSoluong" value="@item.SoLuong" style="background-color:white" />
                    </td>
                    <td class="col-xs-2 col-sm-2 col-md-2">@String.Format("{0:0,0}", item.DonGia) </td>
                    <td class="col-xs-2 col-sm-2 col-md-2">@String.Format("{0:0,0}", item.dThanhtien) </td>
                    <td class="col-xs-1 col-sm-1 col-md-1"> <a href="@Url.Action("Details", "Home", new { id = item.MaDongHO})"> Chi tiết </a></td>
                    <td class="col-xs-1 col-sm-1 col-md-1"> @Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.MaDongHO })</td>
                    <td class="col-xs-1 col-sm-1 col-md-1"> <input type="submit" value="Cập Nhật" /></td>
                }
            </tr>
        }
        <tr style="font-weight: bold; text-align:right; color:red">
            <td colspan="4" style="color:#bd6132"> Số lượng Đông Hồ: @ViewBag.Tongsoluong </td>
            <td colspan="5" style="color:#bd6132"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ </td>
        </tr>
        <tr  style="font-weight: bold; color:#074209; text-align:right ">
            <td colspan="9">
                @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatcaGiohang")
            </td>
        </tr>
        <tr  style="font-weight: bold; color:#074209; text-align:right ">
            <td colspan="9" align="center">
                @Html.ActionLink("ĐẶT HÀNG", "Dathang", "GioHang")
            </td>
        </tr>
    </table>

</div>
