@model DongHo.Models.DONGHO
@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>SuaSanPham</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaDongHo)
        <div class="form-group">
            @Html.LabelFor(model => model.MaDongHo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px"> @ViewBag.MaDongHo</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDongHo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDongHo)
                @Html.ValidationMessageFor(model => model.TenDongHo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonGia)
                @Html.ValidationMessageFor(model => model.DonGia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong)
                @Html.ValidationMessageFor(model => model.SoLuong)
            </div>
        </div>
        <div class="form-group">
      @Html.LabelFor(model => model.hinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileUpload" />
                <img src="@Url.Content("~/DONGHO/"+Model.hinh)" width="120px" /> (Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaNCC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNCC")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoai")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
